:root {
  --white: #F8F9FA;
  --dark-white: #CED4DA;
  --black: #343A40;
  --dark-black: #212529;
  --brown: #8C5E2D;
  --light-brown: #AD7335;
  --gray: #6C757D;
  --dark-gray: #495057;


  --primary: var(--brown);
  --secondary: var(--light-brown);

  --display-color: var(--brown);
  --display-highlight-color: var(--white);
  --desc-color: var(--black);
  --subtitle-highlight-color: var(--dark-white);
  --subtitle-color: var(--gray);
  --title-color: var(--dark-black);

  /* fonts */
  --poppins: "Poppins", sans-serif;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  padding: 12px 82px;
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--white);
}
.btn-secondary {
  padding: 12px 82px;
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--white);
}


.btn-search {
  padding: 12px 20px;
  background-color: var(--primary);
  border-radius: 0 8px 8px 0;
  color: var(--white);
}
.btn-search img {
  position: relative !important;
  max-width: 24px !important;
}
.btn-scan {
  padding: 10px 14px;
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--primary);
}

.btn-scan img {
  position: relative !important;
  max-width: 24px !important;
}

.wrap-search .search {
  border: 1px solid #ADB5BD;
  border-radius: 8px;
  overflow: hidden;
}

.wrap-search input{
  width: 504px;
  padding-inline: 16px;
}

.wrap-search input:focus {
  outline: none;
}