:root {
  --white: #f8f9fa;
  --dark-white: #ced4da;
  --black: #343a40;
  --dark-black: #212529;
  --brown: #8c5e2d;
  --light-brown: #ad7335;
  --light-grey: #E9ECEF;
  --gray: #6c757d;
  --dark-gray: #495057;

  --primary: var(--brown);
  --secondary: var(--light-brown);

  --display-color: var(--brown);
  --display-highlight-color: var(--white);
  --desc-color: var(--black);
  --subtitle-highlight-color: var(--dark-white);
  --subtitle-color: var(--gray);
  --title-color: var(--dark-black);

  /* fonts */
  --poppins: "Poppins", sans-serif;
}

.home {
  background-image: url("../public/images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
}

.bg-full {
  content: "";
  background-color: #000;
  opacity: 70%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* section about start */
.about {
  height: 807px;
}
.about .text-span {
  font-family: var(--poppins);
  color: var(--black);
  font-size: 24px;
}
.about .desc {
  color: var(--black);
}

.about .wrap-galery {
  position: relative;
  grid-template-columns: repeat(2, 1fr) !important;
}

.about .galery-img {
  width: 300px !important;
  height: 300px !important;
  position: relative;
}

.about .galery-img img {
  object-fit: cover;
}
/* section about end */

/* section event start */
.event{
  background-color: var(--light-grey);
}
.event .card .card-img {
  width: 100%;
  position: relative;
}

.event .card .card-body img {
  width: 24px;
}
.event .card .card-body .title{
  font-family: var(--poppins);
  font-size: 16px;
  font-weight: 600;
  color: var(--dark-black);
}
/* section event end */